<app-header-admin></app-header-admin>


<div class="row">


    <div class="col-2">
        <app-menu-admin></app-menu-admin>
    </div>


    <div class="col-10">
        <nb-card status="">
            <nb-card-body>
                <form [formGroup]="grupoFiltro" (ngSubmit)="filtrarRegistros()">
                    <div class="row">
                        <div class="form-group col-md-5">
                            <input type="text" id="descripcion" #descripcion formControlName="descripcion"
                                autocomplete="off" nbInput fullWidth placeholder="Ingrese convocatoria"
                                [status]="(submitted && f.descripcion.errors)?'danger':'basic'">
                            <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                                <small *ngIf="f.descripcion.errors.required" class="text-danger">Ingrese
                                    registro</small>
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <nb-select placeholder="Seleccione" [(selected)]="selectedItem" id="estado" #estado
                                [fullWidth]="true" formControlName="estado"
                                [status]="(submitted && f.estado.errors)?'danger':'basic'">
                                <nb-option *ngFor="let obj of listEstado; let i = index" value="{{ obj.descripcion }}">
                                    {{ obj.descripcion }}</nb-option>
                            </nb-select>
                            <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                                <small *ngIf="f.estado.errors.required" class="text-danger">Ingrese Estado</small>
                            </div>
                        </div>
                        <div class="col-md-2" style="padding: 0;">
                            <button nbButton size="medium" fullWidth status="primary" class="mb-2" type="submit">
                                <nb-icon icon="search-outline"></nb-icon> Buscar
                            </button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>

        <nb-card status="">
            <nb-card-header>
                <div class="row">
                    <div class="col-md-6">
                        LISTA DE CONVOCATORIAS
                    </div>
                    <div class="col-md-6 d-flex flex-row-reverse">
                        <button nbButton size="small" status="success" class="mb-2" type="submit"
                            (click)="crearConvocatoria()">Crear Convocatoria</button>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <!-- <table class="table table-hover"> -->
                <table class="table table-striped table-bordered table-sm row-border hover" id="tablaLists">
                    <!-- <table class="table table-striped table-bordered table-sm row-border hover"  datatable [dtOptions]="dtOptions"> -->
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Aviso</th>
                            <th scope="col">TDR</th>
                            <th scope="col">Formato</th>
                            <th scope="col" width="70">Fecha Inicio</th>
                            <th scope="col" width="70">Fecha Fin</th>
                            <th scope="col">Estado Trazabilidad</th>
                            <th scope="col">Estado Registro</th>
                            <th scope="col"># Postulante</th>
                            <th scope="col" width="10">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of listConvocatorias; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{ obj.descripcion }}</td>
                            <td>
                                <button nbButton size="small" status="basic" class="mb-2" type="submit"
                                    (click)="verDocumento(obj.aviso)">
                                    <nb-icon icon="file-text-outline"></nb-icon> PDF
                                </button>
                            </td>
                            <td>
                                <button nbButton size="small" status="basic" class="mb-2" type="submit"
                                    (click)="verDocumento(obj.pdf)">
                                    <nb-icon icon="file-text-outline"></nb-icon> PDF
                                </button>
                            </td>
                            <td>
                                <button nbButton size="small" status="basic" class="mb-2" type="submit"
                                    (click)="verDocumento(obj.formato)">
                                    <nb-icon icon="file-text-outline"></nb-icon> WORD
                                </button>
                            </td>
                            <td>{{ obj.fechaInicio  }}</td>
                            <td>{{ obj.fechaFin  }}</td>
                            <td class="center">{{ obj.trazabilidad }}</td>
                            <td class="center">{{ obj.estado }}</td>
                            <td class="center" style="text-align: center;">{{ obj.postulantes }}</td>
                            <td>
                                <button nbTooltip="Seguimiento" nbTooltipPlacement="top" nbButton size="small"
                                    status="primary" (click)="verSeguimientoParticipante(obj)"
                                    *ngIf="obj.estado == 'PUBLICADO' && (obj.trazabilidad == 'VIGENTE' || obj.trazabilidad == 'CONCLUIDO')">
                                    <nb-icon icon="shuffle-2-outline"></nb-icon>
                                </button>
                                <button nbTooltip="Editar" nbTooltipPlacement="top" nbButton size="small"
                                    status="success" (click)="editarPostularParticipante(obj)" style="margin-left: 5px;"
                                    *ngIf="obj.trazabilidad == 'BORRADOR' || obj.estado == 'NO PUBLICADO'">
                                    <nb-icon icon="edit-outline"></nb-icon>
                                </button>
                                <button nbTooltip="Eliminar" nbTooltipPlacement="top" nbButton size="small"
                                    *ngIf="obj.trazabilidad != 'CONCLUIDO'" status="danger"
                                    (click)="eliminarConvocatoria(obj)" style="margin-left: 5px;">
                                    <nb-icon icon="trash-2-outline"></nb-icon>
                                </button>
                                <!-- <button nbTooltip="Publicar" nbTooltipPlacement="top" nbButton size="small" status="info" (click)="postularParticipante(obj)" style="margin-left: 5px;">
                                    <nb-icon icon="done-all-outline"></nb-icon>
                                </button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>
</div>