<app-header-convocatoria></app-header-convocatoria>
<nb-layout>
    <nb-layout-column class="colored-column-warning">
        <nb-card>
            <nb-card-header>Registro Convocatoria: {{ datosConvocatoria.correlativo + ' - '+ datosConvocatoria.nombre}}
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="grupoFiltro" (ngSubmit)="registroPostulante()">
                    <div class="row">
                        <nb-card status="" class="col-6">
                            <nb-card-body>
                                <div class="row">
                                    <!-- --- -->
                                    <!-- <div class=""> -->
                                        <div class="form-group col-md-10 formulario">
                                            <label for="nro_doc" class="label"> Número documento </label>
                                            <input type="text" id="nro_doc" #nro_doc formControlName="nro_doc"
                                                autocomplete="off" nbInput fullWidth
                                                placeholder="Ingrese Numero Documento"
                                                [status]="(submitted && f.nro_doc.errors)?'danger':'basic'"
                                                maxlength="8"
                                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                class="numerico">
                                                <div *ngIf="submitted && f.nro_doc.errors" class="invalid-feedback">
                                                    <small *ngIf="f.nro_doc.errors.required" class="text-danger">Ingrese
                                                        número de documento</small>
                                                </div>
                                        </div>
                                        <div class="form-group col-md-1 formulario">
                                            <div class="btn btn-primary" style="margin-top: 28px;"
                                                (click)="buscarDni()">Buscar</div>
                                            <!-- <button nbButton size="small" status="info" class="mb-2"  style="margin-right: 10px;">Buscar</button> -->
                                        </div>
                                    <!-- </div> -->
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 formulario">
                                        <label for="nombres" class="label"> Nombres </label>
                                        <input type="text" id="nombres" #nombres formControlName="nombres"
                                            autocomplete="off" nbInput fullWidth placeholder="Ingrese nombre"
                                            [status]="(submitted && f.nombres.errors)?'danger':'basic'" class="texto">
                                        <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                                            <small *ngIf="f.nombres.errors.required" class="text-danger">Ingrese
                                                nombres</small>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 formulario">
                                        <label for="apellidos" class="label"> Apellidos </label>
                                        <input type="text" id="apellidos" #apellidos formControlName="apellidos"
                                            autocomplete="off" nbInput fullWidth placeholder="Ingrese apellido"
                                            [status]="(submitted && f.apellidos.errors)?'danger':'basic'" class="texto">
                                        <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                                            <small *ngIf="f.apellidos.errors.required" class="text-danger">Ingrese
                                                apellidos</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- --- -->
                                    <div class="form-group col-md-6 formulario">
                                        <label for="email" class="label"> Correo Electronico </label>
                                        <input type="text" id="email" #email formControlName="email" autocomplete="off"
                                            nbInput fullWidth placeholder="Ingrese correo electrónico"
                                            [status]="(submitted && f.email.errors)?'danger':'basic'">
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <small *ngIf="f.email.errors.required" class="text-danger">Ingrese correo
                                                electrónico</small>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 formulario">
                                        <label for="celular" class="label"> Celular </label>
                                        <input type="text" id="celular" #celular formControlName="celular"
                                            autocomplete="off" nbInput fullWidth placeholder="Ingrese celular"
                                            [status]="(submitted && f.celular.errors)?'danger':'basic'" maxlength="9"
                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                            class="numerico">
                                        <div *ngIf="submitted && f.celular.errors" class="invalid-feedback">
                                            <small *ngIf="f.celular.errors.required" class="text-danger">Ingrese
                                                celular</small>
                                        </div>
                                    </div>
                                    <!-- --- -->
                                </div>
                                <div class="row">
                                    
                                    <div class="form-group col-md-4 formulario">
                                        <label for="region" class="label"> Región </label>
                                        <nb-select placeholder="Seleccione" id="region" #region [fullWidth]="true" formControlName="region" (selectedChange)='changeRegion($event)'
                                        [status]="(submitted && f.region.errors)?'danger':'basic'"  >
                                            <nb-option *ngFor="let objR of listRegion" value="{{ objR.codigo }}" >{{ objR.descripcion }}</nb-option>
                                        </nb-select>
                                        <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                                            <small *ngIf="f.region.errors.required" class="text-danger">Ingrese Region</small>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4 formulario">
                                        <label for="provincia" class="label"> Provincia </label>
                                        <nb-select placeholder="Seleccione" id="provincia" #provincia [fullWidth]="true" formControlName="provincia"  (selectedChange)='changeProvincia($event)'
                                        [status]="(submitted && f.provincia.errors)?'danger':'basic'">
                                            <nb-option *ngFor="let objP of listProvincia" value="{{ objP.codigo }}" >{{ objP.descripcion }}</nb-option>
                                        </nb-select>
                                        <div *ngIf="submitted && f.provincia.errors" class="invalid-feedback">
                                            <small *ngIf="f.provincia.errors.required" class="text-danger">Ingrese Estado</small>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4 formulario">
                                        <label for="distrito" class="label"> Distrito </label>
                                        <nb-select placeholder="Seleccione" id="distrito" #distrito [fullWidth]="true" formControlName="distrito" 
                                        [status]="(submitted && f.distrito.errors)?'danger':'basic'">
                                            <nb-option *ngFor="let objD of listDistrito" value="{{ objD.codigo }}" >{{ objD.descripcion }}</nb-option>
                                        </nb-select>
                                        <div *ngIf="submitted && f.distrito.errors" class="invalid-feedback">
                                            <small *ngIf="f.distrito.errors.required" class="text-danger">Ingrese Estado</small>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-12 formulario">
                                        <label for="direccion" class="label">Dirección </label>
                                        <input type="text" id="direccion" #direccion formControlName="direccion"
                                            autocomplete="off" nbInput fullWidth placeholder="Ingrese dirección"
                                            [status]="(submitted && f.direccion.errors)?'danger':'basic'">
                                        <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
                                            <small *ngIf="f.direccion.errors.required" class="text-danger">Ingrese
                                                dirección</small>
                                        </div>
                                    </div>
                                </div>
                            </nb-card-body>
                        </nb-card>
                        <!-- <div class="col-md-1"></div> -->
                        <nb-card status="" class="col-6">
                            <nb-card-body>
                                <!-- <div class="row"> -->
                                <div class="form-group col-md-12 formulario">
                                    <label for="formato" class="label"> Formato (.pdf) </label>
                                    <input type="file" id="formato" #formato formControlName="formato"
                                        autocomplete="off" nbInput fullWidth placeholder="Ingrese convocatoria"
                                        [status]="(submitted && f.formato.errors)?'danger':'basic'"
                                        (change)="onFileFormat($event)" mime="application/pdf">
                                    <div *ngIf="submitted && f.formato.errors" class="invalid-feedback">
                                        <small *ngIf="f.formato.errors.required" class="text-danger">Ingrese
                                            registro</small>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 formulario">
                                    <label for="cv_comercial" class="label"> CV Comercial (.pdf) </label>
                                    <input type="file" id="cv_comercial" #cv_comercial formControlName="cv_comercial"
                                        autocomplete="off" nbInput fullWidth placeholder="Ingrese convocatoria"
                                        [status]="(submitted && f.cv_comercial.errors)?'danger':'basic'"
                                        (change)="onFileComercial($event)">
                                    <div *ngIf="submitted && f.cv_comercial.errors" class="invalid-feedback">
                                        <small *ngIf="f.cv_comercial.errors.required" class="text-danger">Ingrese
                                            registro</small>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 formulario">
                                    <label for="cv_documentado" class="label"> CV Documentado (.pdf) </label>
                                    <input type="file" id="cv_documentado" #cv_documentado
                                        formControlName="cv_documentado" autocomplete="off" nbInput fullWidth
                                        placeholder="Ingrese convocatoria"
                                        [status]="(submitted && f.cv_documentado.errors)?'danger':'basic'"
                                        (change)="onFileDocumentado($event)">
                                    <div *ngIf="submitted && f.cv_documentado.errors" class="invalid-feedback">
                                        <small *ngIf="f.cv_documentado.errors.required" class="text-danger">Ingrese
                                            registro</small>
                                    </div>
                                </div>
                                <div class="form-group col-md-12" style="padding-left: 20%;">
                                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
                                    </ngx-recaptcha2>
                                </div>

                                <!-- </div> -->
                            </nb-card-body>
                        </nb-card>
                    </div>
                    <nb-card-footer>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6 d-flex flex-row-reverse">
                                <button nbButton size="small" status="primary" class="mb-2"
                                    style="margin-right: 10px;">Enviar Información</button>
                                <button nbButton size="small" class="mb-2" style="margin-right: 10px;"
                                    (click)="volver()">
                                    <nb-icon icon="corner-up-left-outline"></nb-icon> Cancelar
                                </button>
                                <!-- <div nbButton size="small" class="mb-2" style="margin-right: 10px;" (click)="volver()" href="#"> <nb-icon icon="corner-up-left-outline"></nb-icon> Cancelar</div> -->
                            </div>
                        </div>
                    </nb-card-footer>
                </form>
            </nb-card-body>



        </nb-card>
    </nb-layout-column>
</nb-layout>