<nb-layout>
    <nb-layout-column class="colored-column-warning">
        <nb-card>
            <nb-card-header>Ingresar al Sistema - Convocatorias</nb-card-header>
            <nb-card-body>
                <form [formGroup]="grupoFiltro" (ngSubmit)="login()">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="nro_doc" class="label"> Usuario </label>
                            <input type="text" id="usuario" #usuario formControlName="usuario" autocomplete="off" nbInput fullWidth placeholder="Ingrese Usuario" [status]="(submitted && f.usuario.errors)?'danger':'basic'">
                            <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
                                <small *ngIf="f.usuario.errors.required" class="text-danger">Ingrese Usuario</small>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="razon_social" class="label"> Clave </label>
                            <input type="password" id="clave" #clave formControlName="clave" autocomplete="off" nbInput fullWidth placeholder="Ingrese Clave" [status]="(submitted && f.clave.errors)?'danger':'basic'">
                            <div *ngIf="submitted && f.clave.errors" class="invalid-feedback">
                                <small *ngIf="f.clave.errors.required" class="text-danger">Ingrese Clave</small>
                            </div>
                        </div>

                        <div class="form-group col-md-12" style="padding-left: 20%;">
                            <ngx-recaptcha2 #captchaElem
                                [siteKey]="siteKey"
                                formControlName="recaptcha">
                            </ngx-recaptcha2>
                        </div>
                        <div class="form-group col-md-12 boton-login">
                            <button nbButton size="medium" fullWidth status="success" class="mb-2"> Ingresar </button>
                        </div>
                        <!-- <div class="form-group col-md-12">
                            <p>
                                <a href="#">
                                    Olvide Contraseña
                                </a>
                            </p>
                        </div> -->
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column class="colored-column-info"></nb-layout-column>
    <nb-layout-column left class="colored-column-success"></nb-layout-column>
</nb-layout>