<nb-layout-header fixed >
    <div class="logo-container">
        <a class="logo" href="#" (click)="navigateHome()">
            <img src="assets/logo.png" style="display: table;margin: 0 auto;width: 270px;">
        </a>
    </div>

    <div class="col">
        <p class="h3 central_casilla">Gestión de Convocatorias</p>
    </div>

    <div class="header-container">
        <nb-actions size="small" class="perfil">
            <nb-action class="user-action">
                <nb-user [nbContextMenu]="userMenu"
                        [onlyPicture]="userPictureOnly"
                        [name]="usuario"
                        color="#fff"
                        class="user_profile"
                        nbContextMenuTag="my-context-menu"
                        [picture]="user?.picture">
                </nb-user>
            </nb-action>
        </nb-actions>
    </div>

</nb-layout-header>
