<app-header-admin></app-header-admin>


<div class="row">

    <div class="col-2">
        <app-menu-admin></app-menu-admin>
    </div>

    <div class="col-10">
        <nb-card status="">
            <nb-card-header>
                <div class="row">
                    <div class="col-md-6">
                        REGISTRO DE CONVOCATORIA
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="formularioConvocatoria" (ngSubmit)="registroConvocatoria()">
                    <div class="row">
                        <nb-card status="" class="col-12">
                            <nb-card-body>
                                <div class="row">
                                    <!-- --- -->
                                    <div class="form-group col-md-6 formulario" *ngIf="codigoConvocatoria != null">
                                        <label for="nroConvocatoria" class="label"> Numero Convocatoria </label>
                                        <input type="text" id="nroConvocatoria" #nroConvocatoria
                                            formControlName="nroConvocatoria" autocomplete="off" nbInput fullWidth
                                            placeholder="Nro Convocatoria"
                                            [status]="(submitted && f.nroConvocatoria.errors)?'danger':'basic'"
                                            disabled>
                                        <div *ngIf="submitted && f.nroConvocatoria.errors" class="invalid-feedback">
                                            <small *ngIf="f.nroConvocatoria.errors.required" class="text-danger">Ingrese
                                                Numero Convocatoria</small>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 formulario" *ngIf="codigoConvocatoria != null">
                                        <label for="trazabilidad" class="label"> trazabilidad </label>
                                        <nb-select placeholder="Seleccione" id="trazabilidad" #trazabilidad
                                            [fullWidth]="true" formControlName="trazabilidad"
                                            [status]="(submitted && f.trazabilidad.errors)?'danger':'basic'">
                                            <nb-option *ngFor="let obj of listTrazabilidad" [value]="obj.codigo">
                                                {{ obj.descripcion }}</nb-option>
                                        </nb-select>
                                        <div *ngIf="submitted && f.trazabilidad.errors" class="invalid-feedback">
                                            <small *ngIf="f.trazabilidad.errors.required" class="text-danger">Ingrese
                                                Trazabilidad</small>
                                        </div>
                                    </div>
                                    <div>
                                    </div>

                                    <div class="form-group col-md-12 formulario">
                                        <label for="descripcion" class="label"> Descripción </label>
                                        <input type="text" id="descripcion" #descripcion formControlName="descripcion"
                                            autocomplete="off" nbInput fullWidth placeholder="Ingrese Descripción"
                                            [status]="(submitted && f.descripcion.errors)?'danger':'basic'">
                                        <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                                            <small *ngIf="f.descripcion.errors.required" class="text-danger">Ingrese
                                                Descripción</small>
                                        </div>
                                    </div>
                                    <!-- --- -->
                                    <div class="form-group col-md-3 formulario">
                                        <label for="fInicio" class="label"> Fecha Inicio </label>
                                        <input type="date" id="fInicio" #fInicio formControlName="fInicio"
                                            autocomplete="off" nbInput fullWidth
                                            placeholder="Ingrese Correo Electronico"
                                            [status]="(submitted && f.fInicio.errors)?'danger':'basic'">
                                        <div *ngIf="submitted && f.fInicio.errors" class="invalid-feedback">
                                            <small *ngIf="f.fInicio.errors.required" class="text-danger">Ingrese Fecha
                                                Inicio</small>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 formulario">
                                        <label for="fFin" class="label"> Fecha Fin </label>
                                        <input type="date" id="fFin" #fFin formControlName="fFin" autocomplete="off"
                                            nbInput fullWidth placeholder="Ingrese fFin"
                                            [status]="(submitted && f.fFin.errors)?'danger':'basic'">
                                        <div *ngIf="submitted && f.fFin.errors" class="invalid-feedback">
                                            <small *ngIf="f.fFin.errors.required" class="text-danger">Ingrese Fecha
                                                Fin</small>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3 formulario">
                                        <label for="estado" class="label"> Estado </label>
                                        <nb-select placeholder="Seleccione" id="estado" #estado [fullWidth]="true"
                                            formControlName="estado" >
                                            <nb-option [value]="0">NO PUBLICADO</nb-option>
                                            <nb-option [value]="1">PUBLICADO</nb-option>
                                        </nb-select>
                                        <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                                            <small *ngIf="f.estado.errors.required" class="text-danger">Ingrese
                                                Estado</small>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3 formulario">
                                        <label for="estado" class="label"> Cantidad de adjudicados </label>
                                        <input type="number" id="cantidad" #cantidad formControlName="cantidad"
                                            autocomplete="off" nbInput fullWidth placeholder="Ingrese Cantidad"
                                            [status]="(submitted && f.cantidad.errors)?'danger':'basic'">
                                        <div *ngIf="submitted && f.cantidad.errors" class="invalid-feedback">
                                            <small *ngIf="f.cantidad.errors.required" class="text-danger">Ingrese
                                                Cantidad</small>
                                        </div>
                                    </div>

                                    <!-- --- -->
                                    <div class="form-group col-md-12 formulario">
                                        <label for="tdr" class="label"> TDR (.pdf)</label>
                                        <input type="file" id="tdr" #tdr formControlName="tdr" autocomplete="off"
                                            nbInput fullWidth placeholder="Ingrese convocatoria"
                                            [status]="(submitted && f.tdr.errors)?'danger':'basic'"
                                            (change)="onFileTdr($event)">
                                        <div *ngIf="submitted && f.tdr.errors" class="invalid-feedback">
                                            <small *ngIf="f.tdr.errors.required" class="text-danger">Ingrese
                                                registro</small>
                                        </div>
                                        <div style="margin-top: 10px;" *ngIf="filesData.valTdr != '0' ">
                                            <button type="button" nbButton size="small" status="primary"
                                                (click)="verDocumento('tdr')" style="margin-right: 10px;" class="mb-2">
                                                Ver archivo </button>
                                            <button type="button" nbButton size="small" status="danger"
                                                (click)="eliminarArchivo('tdr')" class="mb-2"> Eliminar </button>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 formulario">
                                        <label for="aviso" class="label"> Aviso (.pdf)</label>
                                        <input type="file" id="aviso" #aviso formControlName="aviso" autocomplete="off"
                                            nbInput fullWidth placeholder="Ingrese convocatoria"
                                            [status]="(submitted && f.aviso.errors)?'danger':'basic'"
                                            (change)="onFileAviso($event)">
                                        <div *ngIf="submitted && f.aviso.errors" class="invalid-feedback">
                                            <small *ngIf="f.aviso.errors.required" class="text-danger">Ingrese
                                                registro</small>
                                        </div>
                                        <div style="margin-top: 10px;" *ngIf="filesData.valAviso != '0' ">
                                            <button type="button" nbButton size="small" status="primary"
                                                (click)="verDocumento('aviso')" style="margin-right: 10px;"
                                                class="mb-2"> Ver archivo </button>
                                            <button type="button" nbButton size="small" status="danger"
                                                (click)="eliminarArchivo('aviso')" class="mb-2"> Eliminar </button>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 formulario">
                                        <label for="formato" class="label"> Formatos (.docx)</label>
                                        <input type="file" id="formato" #formato formControlName="formato"
                                            autocomplete="off" nbInput fullWidth placeholder="Ingrese convocatoria"
                                            [status]="(submitted && f.formato.errors)?'danger':'basic'"
                                            (change)="onFileFormat($event)">
                                        <div *ngIf="submitted && f.formato.errors" class="invalid-feedback">
                                            <small *ngIf="f.formato.errors.required" class="text-danger">Ingrese
                                                registro</small>
                                        </div>
                                        <div style="margin-top: 10px;" *ngIf="filesData.valFormat != '0' ">
                                            <button type="button" nbButton size="small" status="primary"
                                                (click)="verDocumento('formato')" style="margin-right: 10px;"
                                                class="mb-2"> Ver archivo </button>
                                            <button type="button" nbButton size="small" status="danger"
                                                (click)="eliminarArchivo('formato')" class="mb-2"> Eliminar </button>
                                        </div>
                                    </div>

                                </div>
                            </nb-card-body>
                            <nb-card-footer>
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6 d-flex flex-row-reverse">
                                        <button nbButton size="small" status="primary" class="mb-2"
                                            style="margin-right: 10px;">
                                            <nb-icon icon="save-outline"></nb-icon> Guardar
                                        </button>
                                        <button nbButton size="small" class="mb-2" style="margin-right: 10px;"
                                            (click)="volverConvocatoria()">
                                            <nb-icon icon="corner-up-left-outline"></nb-icon> Cancelar
                                        </button>
                                    </div>
                                </div>
                            </nb-card-footer>
                        </nb-card>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>