<app-header-admin></app-header-admin>


<div class="row">

    <div class="col-2">
        <app-menu-admin></app-menu-admin>
    </div>

    <div class="col-10">
        <nb-card status="">
            <nb-card-header>
                <div class="row">
                    <div class="col-md-12">
                        SEGUIMIENTO: {{ datosConvocatoria.nombre }}
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="form-group col-md-6 formulario">
                        <label for="nroConvocatoria" class="label"> Numero Convocatoria </label>
                        <p>{{ datosConvocatoria.correlativo }} </p>
                    </div>
                    <div class="form-group col-md-6 formulario">
                        <label for="estado" class="label"> Estado </label>
                        <p>{{ datosConvocatoria.estado }}</p>
                    </div>
                    <div class="form-group col-md-6 formulario">
                        <label for="fInicio" class="label"> Fecha Inicio </label>
                        <p>{{ datosConvocatoria.fInicio }}</p>
                    </div>
                    <div class="form-group col-md-6 formulario">
                        <label for="fFin" class="label"> Fecha Fin </label>
                        <p>{{ datosConvocatoria.fFin }}</p>
                    </div>

                    <div class="form-group col-md-6 formulario">
                        <!-- <label for="tdr" class="label"> TDR </label> <br> -->
                        <button nbButton size="small" status="info" class="mb-2" type="submit"
                            (click)="verDocumento(datosConvocatoria.tdr)">
                            <nb-icon icon="file-text-outline"></nb-icon> Termino de Referencia
                        </button>
                        <button nbButton size="small" status="info" class="mb-2" type="submit"
                            (click)="verDocumento(datosConvocatoria.aviso)" style="margin-left: 10px;">
                            <nb-icon icon="file-text-outline"></nb-icon> Aviso
                        </button>
                        <button nbButton size="small" status="info" class="mb-2" type="submit"
                            (click)="verDocumento(datosConvocatoria.formato)" style="margin-left: 10px;">
                            <nb-icon icon="file-text-outline"></nb-icon> Formato
                        </button>
                    </div>
                    <div class="form-group col-md-6 formulario">
                        <label for="cantidad" class="label"> Cantidad </label>
                        <p>{{ datosConvocatoria.cantidad }}</p>
                    </div>

                    <div class="col-3">
                        <nb-card-body class="example-last-child-no-b-margin">
                            <nb-alert status="basic">Postulantes adjudicados: {{this.totalPostulanteAdjudicado}}/{{this.datosConvocatoria.cantidad}}</nb-alert>
                        </nb-card-body>
                    </div>

                    <nb-card class="col-12">
                        <nb-card-body>
                            <nb-tabset>
                                <nb-tab tabTitle="Proceso 1" badgeText="{{ totalPostulante }}" badgeStatus="danger"
                                    tabIcon="person-outline">

                                    <!-- <p>List of <strong>users</strong>.</p> -->
                                    <table class="table table-hover" id="tabla_postulantes">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Postulante</th>
                                                <th scope="col">Celular</th>
                                                <th scope="col">Correo</th>
                                                <th scope="col">Dirección</th>
                                                <th scope="col">Nro Documento</th>

                                                <th scope="col">Formatos</th>
                                                <th scope="col">CV Comercial</th>
                                                <th scope="col">CV Documentado</th>
                                                <th scope="col">Acciones</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let obj of listPostulantes; let i = index">
                                                <th scope="row">{{i+1}}</th>
                                                <td>{{ obj.postulante }}</td>
                                                <td>{{ obj.celular }}</td>
                                                <td>{{ obj.correo }}</td>
                                                <td>{{ obj.direccion }}</td>
                                                <td>{{ obj.nroDocumento }}</td>
                                                <td>
                                                    <button nbButton size="small" status="basic" class="mb-2"
                                                        type="submit" (click)="verPostulante(obj.formato)">
                                                        <nb-icon icon="file-text-outline"></nb-icon> PDF
                                                    </button>
                                                </td>
                                                <td>
                                                    <button nbButton size="small" status="basic" class="mb-2"
                                                        type="submit" (click)="verPostulante(obj.comercial)">
                                                        <nb-icon icon="file-text-outline"></nb-icon> PDF
                                                    </button>
                                                </td>
                                                <td>
                                                    <button nbButton size="small" status="basic" class="mb-2"
                                                        type="submit" (click)="verPostulante(obj.documentado)">
                                                        <nb-icon icon="file-text-outline"></nb-icon> PDF
                                                    </button>
                                                </td>
                                                <td>
                                                    <button nbTooltip="Seguimiento" nbTooltipPlacement="top" fullWidth
                                                        nbButton size="small" *ngIf="obj.adjudicado == 2"
                                                        status="success">
                                                        <nb-icon icon="layers-outline"></nb-icon> Adjudicado
                                                    </button>

                                                    <button nbTooltip="Seguimiento" nbTooltipPlacement="top" fullWidth
                                                        nbButton size="small" *ngIf="obj.adjudicado != 2" status="info" [disabled]="seguimientoConvBtn"
                                                        (click)="adjudicaPostulante(obj.codigo)">
                                                        <nb-icon icon="layers-outline"></nb-icon> Adjudicar
                                                    </button>

                                                    <!-- <button nbTooltip="Seguimiento" nbTooltipPlacement="top" fullWidth
                                                        nbButton size="small" status="default"
                                                        *ngIf="obj.adjudicado == 3" disabled>
                                                        <nb-icon icon="layers-outline"></nb-icon> No Adjudicado
                                                    </button> -->
                                                </td>
                                            </tr>

                                        </tbody>

                                    </table>
                                </nb-tab>

                            </nb-tabset>
                        </nb-card-body>
                    </nb-card>

                    <nb-card class="col-12">
                        <form [formGroup]="formularioConvocatoria" (ngSubmit)="adjudicarConvocatoria()"
                            style="padding-top: 20px;">
                            <div class="row">
                                <!-- <div class="form-group col formulario">
                                    <label for="ordenServicio" class="label"> Numero O/S </label>
                                    <input type="text" id="ordenServicio" #ordenServicio formControlName="ordenServicio"
                                        autocomplete="off" nbInput fullWidth placeholder="Ingrese O/S"
                                        [status]="(submitted && f.ordenServicio.errors)?'danger':'basic'">
                                    <div *ngIf="submitted && f.ordenServicio.errors" class="invalid-feedback">
                                        <small *ngIf="f.ordenServicio.errors.required" class="text-danger">Ingrese
                                            numero</small>
                                    </div>
                                </div>
                                <div class="form-group col formulario" *ngIf="datosConvocatoria.osArchivo =='' || datosConvocatoria.osArchivo ==null">
                                    <label for="fileServicio" class="label"> Archivo O/S </label>
                                    <input type="file" id="fileServicio" autocomplete="off" nbInput fullWidth
                                        placeholder="Ingrese convocatoria" (change)="onFileOrdenServicio($event)">
                                </div>

                                <div class="form-group col formulario" *ngIf="datosConvocatoria.osArchivo !==null">
                                    <label for="fileServiciox" class="label"> Archivo O/S </label> <br>
                                    <button nbButton size="small" status="info" type="button"
                                        (click)="verDocumento(datosConvocatoria.osArchivo)">Descargar
                                    </button>&nbsp;

                                    <button nbButton size="small" status="danger" type="button"
                                        (click)="quitarDocumento()" *ngIf="datosConvocatoria.trazabilidad =='2' && finalizado==0">Quitar
                                        archivo
                                    </button>
                                </div> -->

                                <div class="form-group col formulario" *ngIf="datosConvocatoria.estado == 'VIGENTE'">
                                    <label for="fechaFin" class="label"> Fecha Fin </label>
                                    <input type="date" id="fechaFin" #fechaFin formControlName="fechaFin"
                                        autocomplete="off" nbInput fullWidth placeholder="Fecha Fin"
                                        [status]="(submitted && f.fechaFin.errors)?'danger':'basic'">
                                    <div *ngIf="submitted && f.fechaFin.errors" class="invalid-feedback">
                                        <small *ngIf="f.fechaFin.errors.required" class="text-danger">Ingrese
                                            numero</small>
                                    </div>
                                </div>

                            </div>
                            <nb-card-footer>
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6 d-flex flex-row-reverse">
                                        <button nbButton size="small" status="info" class="mb-2"
                                            style="margin-right: 10px;" (click)="datoGuardar(3)"
                                            *ngIf="datosConvocatoria.trazabilidad =='2' && finalizado==0 " [disabled]="!seguimientoConvBtn">
                                            <nb-icon icon="save-outline"></nb-icon> Guardar y Finalizar
                                        </button>
                                        <button nbButton size="small" status="primary" class="mb-2"
                                            style="margin-right: 10px;" (click)="datoGuardar(2)"
                                            *ngIf="datosConvocatoria.trazabilidad =='2' && finalizado==0 ">
                                            <nb-icon icon="save-outline"></nb-icon> Guardar
                                        </button>
                                        <button nbButton size="small" class="mb-2" style="margin-right: 10px;"
                                            (click)="volverConvocatoria()">
                                            <nb-icon icon="corner-up-left-outline"></nb-icon> Volver
                                        </button>
                                    </div>
                                </div>
                            </nb-card-footer>
                        </form>

                    </nb-card>

                </div>

            </nb-card-body>




        </nb-card>
    </div>
</div>