
<nb-layout>
	<nb-layout-header class="fondo"></nb-layout-header>
	<nb-layout-column>
		<router-outlet></router-outlet>
	</nb-layout-column>
</nb-layout>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>