<nb-layout-header fixed >
    <div class="logo">
        <a href="#">
            <img src="assets/logo.png" style="display: table;margin: 0 auto;width: 270px;">
        </a>
    </div>
    <div class="offset-lg-3">
        <p class="h3">Convocatorias Públicas</p>
    </div>
</nb-layout-header>