<app-header-convocatoria></app-header-convocatoria>

<nb-card status="" class="col-12">
    <nb-card-body>
        <form [formGroup]="grupoFiltro" (ngSubmit)="filtrarRegistros()">
            <div class="row">
                <div class="form-group col-md-5">
                    <input type="text" id="descripcion" #descripcion formControlName="descripcion" autocomplete="off"
                        nbInput fullWidth placeholder="Ingrese convocatoria"
                        [status]="(submitted && f.descripcion.errors)?'danger':'basic'">
                    <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                        <small *ngIf="f.descripcion.errors.required" class="text-danger">Ingrese registro</small>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <nb-select placeholder="Seleccione" [(selected)]="selectedItem" id="estado" #estado
                        [fullWidth]="true" formControlName="estado"
                        [status]="(submitted && f.estado.errors)?'danger':'basic'">
                        <nb-option *ngFor="let objs of listEstado;" value="{{ objs.codigo }}">{{ objs.descripcion }}
                        </nb-option>
                    </nb-select>
                    <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                        <small *ngIf="f.estado.errors.required" class="text-danger">Ingrese Estado</small>
                    </div>
                </div>
                <div class="col-md-2" style="padding: 0;">
                    <button nbButton size="medium" fullWidth status="primary" class="mb-2" type="submit">
                        <nb-icon icon="search-outline"></nb-icon> Buscar
                    </button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>


<nb-card status="" class="col-12">
    <nb-card-header>
        <div class="row">
            <div class="col-md-6">
                Lista de convocatorias
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <table class="table table-striped table-bordered table-sm row-border hover" id="tablaLists">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" width="700">Descripción</th>
                    <th scope="col">Aviso</th>
                    <th scope="col">TDR</th>
                    <th scope="col">Formatos</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of listConvocatorias; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ obj.descripcion }}</td>
                    <td>
                        <button nbButton size="small" status="basic" class="mb-2" type="submit"
                            (click)="verDocumento(obj.aviso)">
                            <nb-icon icon="file-text-outline"></nb-icon> PDF
                        </button>
                    </td>
                    <td>
                        <button nbButton size="small" status="basic" class="mb-2" type="submit"
                            (click)="verDocumento(obj.pdf)">
                            <nb-icon icon="file-text-outline"></nb-icon> PDF
                        </button>
                    </td>
                    <td>
                        <button nbButton size="small" status="basic" class="mb-2" type="submit"
                            (click)="verDocumento(obj.formato)">
                            <nb-icon icon="file-text-outline"></nb-icon> WORD
                        </button>
                    </td>
                    <td>
                        {{ obj.fechaInicio }}
                    </td>
                    <td>{{ obj.fechaFin }}</td>
                    <td>{{ obj.estado }}</td>
                    <td>
                        <button nbButton size="small" status="success" class="mb-2" type="submit"
                            *ngIf="obj.estado == 'VIGENTE'" (click)="postularParticipante(obj)">
                            <nb-icon icon="checkmark-outline"></nb-icon> Postular
                        </button>
                        <button nbButton size="small" class="mb-2" type="submit" *ngIf="obj.estado == 'CONCLUIDO'"
                            [disabled]="true">
                            <nb-icon icon="checkmark-outline"></nb-icon> Postular
                        </button>
                    </td>
                </tr>

            </tbody>
            <!-- <tbody *ngIf="listConvocatorias.length == 0">
                <tr>
                    <td colspan="9" class="sin_data">No existen registros</td>
                </tr>
            </tbody> -->
        </table>
    </nb-card-body>
</nb-card>